body {
    background-color: #f0f0f0;
}

.login-div {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 2px #777777;
    display: inline-block;
}

/* "az összes olyan input, ami login-div -en belül van (szelektor szelektorba ágyazva)" */

.login-div input {
    padding: 3px;
    display: block;
    margin-bottom: 7px;
}

.login-div input[type="email"] {
    border: solid 1px blue;
}

.login-div input[class="form-control"] {
    border: solid 1px red;
}

.login-div button:hover {
    box-shadow: 2px 2px 3px #c0c0c0;
    border: none;
}

.login-div input:focus {
    box-shadow: 2px 2px 3px #c0c0c0;
}

ul li:last-child {
    text-decoration: underline;
}
ul li:first-child {
    color: red;
}
ul li:nth-child(2) {
    color: blue;
}



/* "azok a body-n belüli div-ek, amik egyben a login-div -hez is tartoznak" */
/* body div.login-div {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 2px #777777;
    display: inline-block;
} */